<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
		src="assets/ps-logo.png"
		alt="Playstation Logo"
		width="140px"
		height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li>
				<app-menu-bar-item
					Link="https://wa.me/5598984317749"
					LinkTitle="WhatsApp"
				>
				</app-menu-bar-item>
			</li>
			<li>
				<app-menu-bar-item
					Link="https://www.linkedin.com/in/jeymerson-silva-sousa-2645a9154/"
					LinkTitle="Linkedin"
				>
				</app-menu-bar-item>
			</li>
			<li>

				<app-menu-bar-item
					Link="https://github.com/jeymerson"
					LinkTitle="GitHub"
				>
				</app-menu-bar-item>
			</li>

		</ul>


	</div>
</div>
